<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver Pedidos</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/pedidos/css/styles_pedidos.css" />
</head>
<body>
    <div id="header-container"></div>

    <div id="contenido" >
        <div id="texto">
            <!-- Opciones se agregarán dinámicamente aquí -->
        </div>
    
        <div id="container-filtroid" class="container-filtro">
            <div id="textofiltro">
    
            </div>
            <select id="filtro-estado" class="form-control">
                <!-- Opciones se agregarán dinámicamente aquí -->
            </select>
        </div>
        
        <ul id="lista-pedidos"></ul>
    </div>

    <div id="footer-container"></div>

    <script src="/pedidos/js/pedidos.js"></script>
</body>
</html>