<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Usuario</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/user/css/styles_perfil.css">
</head>
<body>
    <div id="header-container"></div>
    <div id="contenedor">
        <div class="container mt-5">
            <div class="container-card p-4 bg-light rounded">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title text-center mb-4">Perfil del Usuario</h2>
                        <div id="profile-container">
                            <!-- El contenido del perfil se agrega aca dinámicamente -->
                        </div>
                        <button id="logout-btn" class="btn btn-danger mt-3">Cerrar Sesión</button>
                    </div>
                </div>
                
                <div id="admin-menu-container">
                    <!-- Se añade dinámicamente el "Menu de Admin" si es admin el usuario -->
                </div>
            </div>
        </div>
    </div>

    <div id="footer-container"></div>
    <script src="/user/js/perfil.js"></script>
</body>
</html>