<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar Producto</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/carrito/css/styles_carrito.css" />
</head>
<body>
    <div id="header-container"></div>
    <div class="container mt-5" id="carrito-container">
      <!-- Se cargan dinámicamente el título, productos, total y el botón de realizar pedido -->
    </div>
    <div id="footer-container"></div>
    <script src="/carrito/js/carrito.js"></script>
</body>
</html>