body {
    margin: 0;
}

.container-card {
    max-width: 400px;
    margin: auto;
}

.card {
    border: 2px solid #777;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
    color: #333;
}

.card-body {
    padding: 20px;
}

#profile-container p {
    margin-bottom: 10px;
}

#profile-container strong {
    font-weight: bold;
}

#agregarProductoBtn {
    width: 100%;
}

#editarProductoBtn {
    margin-top: 5%;
    width: 100%;
}

#borrarProductoBtn {
    margin-top: 5%;
    width: 100%;
}

#verUsersBtn {
    margin-top: 5%;
    width: 100%;
}

#admin-menu-container{
    margin-top: 15px;
}


#logout-btn {
    width: 100%;
}